/* //////////////////////////////// */
/*             TO DO                */
/* //////////////////////////////// */
/* 
    - Add start button
*/


/* ----- GLOBALS ------*/

body {
    margin: 0;
    background-color: black;
}

div {
    position: absolute;
}

button {
    position: absolute;
}

/* USER */

:root {
    --light-yellow: rgb(224,208,141,1.0);
    --dark-purple_text: rgb(31,27,37,1.0);
}

.page {
    margin: 0 auto;
    width: 1024px;
    height: 768px;
    /* border: solid white 1px; */
    position: relative;
    overflow: hidden;
}

/* ------ TITLE SCREEN ------ */
#title-screen {
    background: linear-gradient(180deg, rgba(29,26,45,1) 0%, rgba(41,36,54,1) 60%); /* 90deg down, dark to light */
}

.stars {
    /* border: solid red 1px; */
    top: 0;
    left: 0;
    z-index: 0;
    width: 1024px;
}

/* ----- TREES BACKGROUND ------ */

.trees-bg {
    /* border: solid green 1px; */
    background: url("images/SVG/trees-background.svg") repeat-x left center;
    top: 72px;
    left: 0;
    width: 4096px;
    height: 1004px;
    z-index: 1;
    animation: trees-scroll 20s linear infinite;
}


/* ----- TREES FOREGROUND ------ */

.trees-fg {
    background: url("images/SVG/trees-foreground.svg") repeat-x left center;
    top: 120px;
    left: 0;
    
    width: 2048px;
    height: 548px;
    z-index: 2;
    
    animation: trees-scroll 1.5s  linear infinite;
}

/* Trees scroll animation */

@keyframes trees-scroll {
    from {
        background-position: right;
    }
    to {
        background-position: left;
    }
}

/* ----- ROAD ----- */

.road {
    /* border: solid white 1px; */
    left: 0;
    bottom: 0;
    width: 1028px;
    height: 127px;
    background-color: #1D1A21;
    z-index: 2;
}

/* ----- CAR ------ */

.car {
    /* border: solid red 1px; */
    /* position: relative; */
    left: 121px;
    top: 424px;
    z-index: 2;
}

.car-body {
    position: inherit;
    animation: car-body-bumps 2s linear infinite;
}

@keyframes car-body-bumps {
    0% {
        transform: translate(0,0);
    }
    25% {
        transform: translate(0,1%)
    }

    75% {
        transform: translate(0,1%);
    }
}

.car-wheel {
    transform-origin: center;
    animation: car-wheel-rotate 10ms linear infinite; 
}

.car-wheel__back {
    top: 156px;
    left: 67px;
}

.car-wheel__front {
    top: 156px;
    left: 256px;

}

@keyframes car-wheel-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(350deg);
    }
}

/* ----- CLOUDS ----- */

.cloud-container {
    /* border: solid 1px yellow; */
    position: relative;
    width: 200%;
    height: 50%;
    position: top left;
}

.cloud {
    position: absolute;
    animation: cloud-drift 35s linear infinite;
}

.cloud-1 {
    /* border: solid 1px red; */
    top: 5%;
    /* left: 55%; */
    animation-delay: -25s;

}

.cloud-2 {
    /* border: solid 1px green; */
    top: 6%;
    /* left: 5%; */
    animation-delay: -2s;
}

.cloud-3 {
    /* border: solid 1px blue; */
    top: 8%;
    /* left: 75%; */
    animation-delay: -22s;
}

.cloud-4 {
    /* border: solid 1px yellow; */
    top: 10%;
    /* left: 30%; */
    animation-delay: -15s;
}

@keyframes cloud-drift {
    0% {
        opacity: 0;
        transform-origin: top left;
        transform: translate(200%, 0);
    }

    20% {
        opacity: 1.0;
    }

    80% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
        transform: translate(-200%,0);
    }

}

/* ----- START BUTTON ----- */

.start-button {

    --start-shadow-x: -2px;
    --start-shadow-y: 2px;

    --end-shadow-x: -4px;
    --end-shadow-y: -4px;

    bottom: 17%;
    right: 10%;
    z-index: 2;

    border: none;
    background: transparent;
    
    color: var(--dark-purple_text);
    font-family: "Andika" , sans-serif;
    font-size: 5em;
    font-weight: bolder;
    text-transform: uppercase;

    animation: start-button-shadow 1s alternate infinite;

}

@keyframes start-button-shadow {
    0% {
        text-shadow: var(--start-shadow-x) var(--start-shadow-y) 0px var(--light-yellow), 0 0 8px rgb(224,208,141, 0);
    }
    
    100% {
        transform: translate(0, 8px);
        text-shadow: var(--end-shadow-x) var(--end-shadow-y) 0px var(--light-yellow), 0 0 16px rgb(224,208,141, 1.0);
    }
}

